body {
    padding: 100px;
}
.submit-area {
    padding: 50px;
    margin-top: 50px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
}
#transaction-area {
    display: none;
}
.status {
    margin: 20px;
    padding: 30px;
    color: white;
    border-radius: 10px;
}
.deposit {
    background-color: slateblue;
}
.withdraw {
    background-color: lightsalmon;
}
.balance {
    background-color: orange;
}